// COLORS
$primary-color: #255C99;
$secondary-color: #C42021;

$white-color: #fff;

$dark-grey: #738290;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
